$copyright-height: 67px;

ul {
	list-style-type: none;
	padding-left: 0;
}

a {
	&, &:hover, &:active, &:focus {
		color: inherit;		
		text-decoration: none;				
	}
}

.header{
	// background: no-repeat center / cover url('../img/parceiros/header-bg.jpg');
	// just to see the header
	border: 1px solid #fafafa;	
	overflow: hidden;
	&__logo {
		margin: 45px 0 18px;
		&__img { max-width: 325px; }
	}	
	&__navbar{
		padding: 0 14px 0 21px;
		margin: 0 auto 71px;
		transform: translateX(3px);
		background: rgba(0, 0, 0, .4);
		&.navbar{ max-width: 810px; }
		&__list {
			a {
				font-size: 1rem;
				text-transform: uppercase;
			}
			height: 70px;
			display: inline;
			width: 100%; 
			display: flex;
			align-items: center;			
		}
	}
	&__subtitle {
		margin-bottom: 28px;
	}
}

.footer {
	background: #1a2749;
	overflow: hidden;
	font-size: 15px;
	&__content {
		width: 80%;
		max-width: 1085px;
		margin: 25px auto 0px;
		&__logo-transparent {
			background: no-repeat center / contain url('../img/logo-white.png') ;
			top: 0;
			left: 49.5%;
			width: 80%;
			height: 100%;	
			transform: translateX(-50%);
			max-width: 715px;
			opacity: .1;
		}
		&__logo {
			&__img {
				max-width: 215px;
			}
		}
		&__icons {
			margin-top: 52px;
			margin-bottom: 62px;
			&__facebook {
				width: 10px;
				margin-right: 32px;
			}
			&__instagram {
				width: 20px;
			}
		}
		&__adress {
			clear: left;
			margin-top: 115px;
			& > div:not(:last-child) {
				margin-bottom: 25px;
			}			
			&__tel, &__mail { 
				& img { 
					width: 18px;
					margin-right: 13px;
				}
			}
		}
		&__nav {
			transform: translateX(4px);
			clear: right;
			text-transform: uppercase;
			li:not(:last-child) {
				margin-bottom: 19px;
			}
		}

		@media all and (max-width: 768px) {
			& > * {
				float: none;
			}
		}
	}
	&__copyright {
		padding-top: 15px;
		padding-bottom: 25px;
	}

}